{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<div style=" background-color : green ; width : 100%; height:100px ">
    <h2 class="text-white container pt-3 ">Contact Us</h2>
</div>

<div class="container mt-5" >
   <div class="row">
       <div class="col-sm-6">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8760.932851192514!2d88.42943984541807!3d22.5971046461095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02756183c73ae7%3A0x21f3df232e9610f3!2sDomino&#39;s%20Pizza!5e0!3m2!1sen!2sin!4v1676658862598!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>

       <div class="col-sm-6 mt-5">
           <p><i class="fas fa-envelope"> Email ID : pawankumar@gmail.com </i></p>
           <p><i class="fas fa-phone-square"> Contact number : +919308952361 </i></p>
           <p><i class="fas fa-address-card"> Address : Kestopur Kolkata-700101 </i></p>
           <p><i class="far fa-clock"> Office Timing : 10 :00 AM to 07:00PM </i></p>
           <p >Follow Us</p>
           <a href="#"><i class="fab fa-facebook-f pl-5 "></i></a>
           <a href="#"><i class="fab fa-twitter pl-5"></i></a>
           <a href="#"><i class="fab fa-telegram pl-5"></i></a>
       </div>

   </div>
</div>

<br><br>
{% endblock %} 