{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">EDIT_PROFILE</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="post">
                {%csrf_token%}
                <div class="form-row">
                    <div class="form group col-md-6">
                        <label>FirstName</label>
                        <input type="text" class="form-control" value="{{data.user.first_name}}" name="firstname">
                    </div>
                    <div class="form group col-md-6">
                        <label>LastName</label>
                        <input type="text" class="form-control" value="{{data.user.last_name}}" name="lastname">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form group col-md-12">
                        <label>Email ID</label>
                        <input type="text" class="form-control" value="{{data.user.username}}" name="emailid" readonly>
                    </div>

                </div>


                <div class="form-row">
                    <div class="form group col-md-12">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" value="{{data.contact}}" name="contact">
                    </div>
                </div>


                <div class="form-row">
                    <div class="form group col-md-6">
                        <label>Branch</label>
                        <select name="branch" class="form-control" name="branch">

                            <option value="Computer Science">Computer Science</option>
                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                            <option value="Electrical Engineering">Electrical Engineering</option>
                            <option value="Civel Engineering">Civel Engineering</option>
                            <option value="Electronic and communaction Engineering">Electronic and communaction
                            Engineering</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6 mt-2">
                        <br>
                        <input type="text" value="{{data.branch}}" class="form-control" readonly>
                    </div>

                </div>
                <input type="submit" value="UPDATE" class="btn btn-primary mt-4">
            </form>
        </div>
    </div>


</div>

{% if error == True %}

<script >
    alert('profile Update Sussessfully');
    window.location = "{% url 'profile' %}";
</script>

{% endif %}

{% endblock %}